body{
  margin:0;
  text-align:center;
  font-family: 'Roboto', sans-serif;
  color:#6E4B2D;
  background-color: #E1CA96;
}
h1{
  font-size: 5.625rem;
  margin-top:50px;
  font-family: 'Sacramento', cursive;
  color:#0C1713;
}

h2{
font-family: 'Cormorant Garamond', serif;
font-size: 2.5rem;
color:#0C1713;
padding-bottom: 10px;
font-weight: normal;
}

h3{
  font-family: 'Cormorant Garamond', serif;
  color:#0C1713;

}
p{
  line-height: 2;

}
a{
  color:#C83347;

}
hr{
  border:dotted #686F1F 6px;
  border-bottom: none;
  width: 5%;
  margin:100px auto;
}
th{
  font-weight: bolder;
  padding-right: 5px;
}
td{
  padding-right: 20px;
  line-height: 1.5em;
}
.topContainer{
  background:#ACC18A;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}
.middle-container{
  margin: 100px 0;

}
.intro{
  width:30%;
  margin: auto;
}
.profilePic{
  height: 350px;
  padding-bottom:20px;
}

.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;
  padding-top: 20px;



}
.skillOne{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skillTwo{
  width: 25%;
  float: right;
  margin-left: 30px;

}
.skillThree{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.Ratings{
  text-align: left;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.programmer{
  font-weight: normal;

}
.contact-message{
width: 40%;
margin: 40px auto 60px;
}

.btn {
   font-family: 'Roboto', sans-serif;
   width: 112px;
   font-size: 19px;
   font-weight: 100;
   padding: 23px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   background: #1E62D0;
   border: solid #337FED 1px;
   
}


.bottom-container{
  background-color: #686F1F;
  padding:30px;
  color: #0C1713;
}
.bottom-container a{
  color: #0C1713;
}
.ref{
  padding-bottom: 0;
  font-size: 10px;
}
